body {
    padding-bottom: 20px;
}
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}
a.anchor {
    color: #e535ab;
}
.document.typescript a.anchor {
    color: #037acc;
}
.document.javascript a.anchor {
    color: #f0dc4f;
}
h1, h2, h3 {
    /*
    #273043
    #9197AE
    #EFF6EE
    #FCF7F8
    */
    /*color: #EFAC3C;*/
}
h1 {
    margin-bottom: 25px;
}
a {
    color: #e535ab;
}
ul {
}
a:hover {
    text-decoration: underline;
    color: #e535ab;
}
h2, h3 {
    margin-top: 30px;
    border-bottom: 1px solid #FCF7F8;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.navbar {
    margin-bottom: 30px;
}
.document h1+ul, .document h1+ul ul {
    list-style: none;
}
.document div>h1+ul {
    margin-left: 0;
    padding-left: 0;
    line-height: 25px;
}
.document h1+ul li::before {
    content: "# ";
    color: #e535ab; /* or whatever color you prefer */
    opacity: 0.5;
    margin-right: 5px;
}
code {
    color: #77A7C2;
}
h1 code, h2 code, h3 code {
    color: #333;
}

.bg-light {
    background-color: transparent !important;
    border-bottom: 1px solid #EEE;
}

.left-panel ul {
    list-style: none;
    line-height: 28px;
}

.left-panel ul a {
    color: #616161;
}

.left-panel ul a.router-link-active {
    color: #e535ab;
}

.left-panel ul a b {
    color: #414141;
}

.left-panel ul a:hover {
    color: #e535ab;
}

.left-panel ul a b:hover {
    color: #e535ab;
}

.navbar-brand {
    font-size: 1.4rem;
}

.contribute {
    margin-top: 20px;
    color: #999;
    text-align: center;
}

.contribute a {
    color: #333;
}

.gitter {
    background-image: url("../image/icon/gitter.svg");
    fill: #1DA1F2;
    width: 18px;
    height: 18px;
}

pre {
    overflow: auto !important;
}

ol {
    margin-bottom: 2rem;
}

.document blockquote > p {
    background-color: #fffff1;
    padding: 5px 10px 5px 10px;

}

.document.javascript blockquote > p {
    color: #333;
    border-left: 3px solid #f0dc4f;
}

.document.typescript blockquote > p {
    color: #333;
    border-left: 3px solid #037acc;
}

.homepage h1 {
    text-align: center;
    color: #e535ab;
}
.homepage .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.homepage .middle {
    display: table-cell;
    vertical-align: middle;
}

.homepage .inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 600px; /*whatever width you want*/
}

.btn-js {
    background-color: #f0dc4f;
    border-color: #f0dc4f;
}

.btn-js:hover {
    background-color: #f0b20b;
    border-color: #f0b20b;
}

.btn-ts {
    background-color: #2c89cc;
    border-color: #2c89cc;
}

.documentation-links a {
    margin-right: 5px;
    margin-bottom: 10px;
}